.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

celery.sqlite
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.bak
results.sqlite
